<div class="info cloudy">
  <div class="container-fluid">
    <div class="row">
      <div *ngIf="cityInfo.length == 0" class="col-12 d-flex justify-content-center align-items-center error">
        <div class="center">
          <span class="error-message">
            {{errorMessage}}
          </span>
          <a class="btn btn-success" routerLink="/" href="">Try Again</a>
          <div class="opacity"></div>
        </div>
      </div>
      <div *ngIf="cityInfo.length != 0" class="col-12 col-sm-12 col-md-7 col-lg-7 d-flex justify-content-around left">
        <h1 class="temparature">{{cityInfo.temparature | number: '1.0-0'}}&deg;</h1>
        <h2 class="city">{{cityInfo.city}},{{cityInfo.country}}</h2>
      </div>
      <div *ngIf="cityInfo.length != 0" class="col-12 col-sm-12 col-md-5 col-lg-5 d-flex justify-content-between right">
        <div class="weather">
          <img class="img" src={{cityInfo.icon}} alt="Weather icon">
          <!-- <i class="fa fa-solid fa-snowflake-o"></i> -->
          <div class="condition">{{cityInfo.condition}}</div>
        </div>
        <ul>
          <li class="data">
            <span class="title">Humidity</span>
            <span class="value">{{cityInfo.humadity}}%</span>
          </li>
          <li class="data">
            <span class="title">Wind Speed</span>
            <span class="value">{{cityInfo.windSpeed | number: '1.0-1'}}Mph</span>
          </li>
          <li class="data">
            <span class="title">Wind Direction</span>
            <span class="value">{{cityInfo.windDirection}}&deg;</span>
          </li>
          <li class="data">
            <span class="title">Pressure</span>
            <span class="value">{{cityInfo.pressure}}hPa</span>
          </li>
        </ul>
        <div class="opacity"></div>
      </div>
    </div>
  </div>
</div>
