<div class="info cloudy">
  <div class="container-fluid">
    <div class="row">
      <div class="col-7 d-flex justify-content-around left">
        <div class="location">
          <h1 class="name">Moratuwa</h1>
        </div>
        <h2 class="temparature">29<span>&#8451;</span></h2>
      </div>
      <div class="col-5 d-flex justify-content-between right">
        <div class="weather">
          <i class="fa fa-solid fa-cloud"></i>
          <!-- <i class="fa fa-solid fa-snowflake-o"></i> -->
          <div class="condition">Cloud</div>
        </div>
        <ul>
          <li class="data">
            <span class="title">Humidity</span>
            <span class="value">23%</span>
          </li>
          <li class="data">
            <span class="title">Wind Speed</span>
            <span class="value">3Km/h</span>
          </li>
          <li class="data">
            <span class="title">Humidity</span>
            <span class="value">23%</span>
          </li>
          <li class="data">
            <span class="title">Wind Speed</span>
            <span class="value">3Km/h</span>
          </li>
        </ul>
        <div class="opacity"></div>
      </div>
    </div>
  </div>
</div>
