.info {
  height: 100vh;

  &.cloudy {
    background: url("http://farm4.static.flickr.com/3066/2745210708_f3ecb8a3ed_o.jpg");
    background: url("https://wallpaperaccess.com/full/5529391.jpg");
    background-size: cover;
    color: white;
  }

  .left {
    height: 100vh;
    justify-content: space-around;
    flex-direction: column;

    .temparature {
      font-size: 16rem;
      text-align: center;
    }

    .city {
      font-size: 6rem;
      text-align: right;
      padding-right: 1rem;
    }
  }

  .error{
    height: 100vh;
    border-radius: 6px;
    .center{
      padding: 10px 15px;
      position: relative;
      .error-message{
        font-size: 4rem;
        z-index: 1;
        color: #fff;
        position: relative;
      }
      .btn{
        position: relative;
        z-index: 1;
      }
      .opacity{
        position: absolute;
        background-color: black;
        opacity: 0.6;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
        border-radius: 6px;
      }
    }
  }

  .right {
    position: relative;
    flex-direction: column;
    justify-content: space-between;

    .weather {
      z-index: 1;
      text-align: center;

      .img {
        width: 150px;
        height: 150px;
        margin-top: 2rem;
      }

      .condition {
        font-size: 6rem;
        margin-top: 1rem;
      }
    }

    ul {
      z-index: 1;
      padding: 1rem;

      li {
        padding: 10px 15px;
        display: flex;
        font-size: 2rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: solid 2px white;
      }
    }

    .opacity {
      position: absolute;
      background-color: black;
      opacity: 0.6;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
    }
  }
}

@media only screen and (max-width: 991px) {
  .info{
    // height: auto;
    .left{
      z-index: 1;
      .temparature{
        font-size: 12rem;
      }
      .city{
        font-size: 4rem;
      }
    }
    .right{
      .weather{
        .img{
          margin-top: 0;
        }
        .condition{
          margin-top: 0;
          font-size: 4rem;
        }
      }
      ul{
        li{
          flex-direction: column;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .info{
    height: unset;
    position: relative;
    .left{
      height: auto;
      z-index: 1;
      .temparature{
        font-size: 12rem;
      }
      .city{
        font-size: 4rem;
        text-align: center;
      }
    }
    .right{
      position: unset;
      .weather{
        .img{
          margin-top: 0;
        }
        .condition{
          margin-top: 0;
          font-size: 4rem;
        }
      }
      ul{
        li{
          flex-direction: row;
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .info{
    height: unset;
    .left{
      .temparature{
        font-size: 9rem;
      }
      .city{
        font-size: 2.5rem;
      }
    }
    .right{
      .weather{
        .condition{
          font-size: 2.5rem;
        }
      }
      ul{
        li{
          text-align: center;
          justify-content: space-around;
        }
      }
    }
  }
}
